* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
}
.container .row {
  width: 100%;
}

.slideBig {
  width: 100%;
  height: 600px;
  margin: auto;
}
.slideBig .myslide {
  width: 100%;
  margin: auto;
}
.slideBig .myslide .background {
  width: 100%;
  height: 600px;
}
.slideBig .myslide .background .carousel-item {
  width: 100%;
  height: 600px;
}
.slideBig .myslide .background .slide1 {
  background-image: url(./assets/image/site1.JPG);
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.slideBig .myslide .background .slide1 .content {
  width: 100%;
  position: relative;
}
.slideBig .myslide .background .slide1 .content {
  width: 100%;
  position: relative;
}

.one {
  width: 100%;
  position: absolute;
  top: 10rem;
}
.content {
  width: 100%;
  margin: auto;
}

.content h1,
p {
  font-family: segoe ui light;
  font-weight: 1000;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.one .content p {
  color: gray;
  padding: 1rem;
  font-size: 1.3rem;
  margin: auto;
  width: 100%;
}

.content a {
  text-align: center;
}

.content a.btn {
  width: 10rem;
  height: 4rem;
  padding-top: 0.5rem;
  color: white;
  font-size: 1.5rem;
  background-color: #ef6c57;
  border: 0.2rem solid transparent;
  transition: 0.4s;
}

.content a.btn::after {
  content: "Book Now";
}
.content a.btn:hover {
  background-color: transparent;
  border: 0.2rem solid white;
}

.slideBig .myslide .background .slide2 {
  background-image: url(./assets/image/slide2.JPG);
  height: 100%;
  background-size: cover;
  background-position: center center;
}
img {
  max-width: 100%;
  height: auto;
}

.myslide ol li,
.mySlideMini ol li {
  visibility: hidden;
  opacity: 0;
}

/* --------------------------- */

section .overSection {
  margin-top: -80px;
  padding-left: 3rem;
}

.site {
  padding-bottom: 2rem;
}

.site a.pct {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: relative;
}
.site a.pct:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
  background-color: #00000061;
}
.site a.pct .mi {
  width: 100%;
  height: 100%;

  transition: 0.4s;
}
.site a.pct:hover .mi {
  transform: scale(1.2);
}
.site a.pct:hover .text {
  bottom: 10%;
}
.site .text {
  position: absolute;
  bottom: 5%;
  left: 15%;

  z-index: 2;
  transition: 0.4s;
}

.site .text h5 {
  color: white;
}

/* --------------------------- */

section .first {
  margin-top: 80px;
  padding-left: 3rem;
}

.siteText {
  padding-bottom: 2rem;
}
.siteText .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.siteText .content .left {
  width: 15%;
  height: 100%;
}
.siteText .content .left i {
  font-size: 3.5rem;
  color: #ef6c57;
}
.siteText .content .right {
  width: 75%;
  height: 100%;
}
.siteText .content .right h4 {
  font-family: segoe ui light;
  font-weight: 900;
  color: #5d5a5a;
  font-size: 1.4rem;
}
.siteText .content .right p {
  text-align: left;
  font-family: segoe ui light;
  font-size: 1.1rem;
  font-weight: 900;
  color: gray;
}
.siteText .content .right span {
  font-family: segoe ui light;
  font-weight: 900;
}
.siteText .content .right span a {
  text-decoration: none;
  color: #ef6c57;
}

/* ------------------------ */
.gLight {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  background-color: #f8f9fa;
}

.gLight .second {
  padding-top: 5.5rem;
  margin: auto;
  width: 100%;
}
.gLight .head {
  width: 100%;
}
.gLight .head h3 {
  text-align: center;
  padding-top: 4rem;

  font-family: segoe ui light;
  font-size: 2rem;
  font-weight: 900;
  color: #2e2c2c;
}

.article {
  width: 100%;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-bottom: 10rem;
}
.article .mySlideMini {
}
.article .mySlideMini .prev {
  margin-top: 42rem;
  margin-left: 34rem;
}
.article .mySlideMini .next {
  margin-top: 42rem;
  margin-right: 34rem;
}
.article .mySlideMini .background {
}

.sec {
}
.sec img {
  width: 100%;
  height: 100%;
}
.sec .left {
}
.sec .right {
  width: 100%;
  height: 360px;
  margin-left: -5rem;
  margin-top: 8rem;
  padding: 3rem 4rem;
  background-color: white;
}
.sec .right p {
  text-align: left;
  font-family: segoe ui light;
  font-size: 1.4rem;
  font-weight: 900;
  color: #000000cf;
}
.sec .right span em {
  color: #464343;
}
.sec .right span a {
  text-decoration: none;
  color: #ef6c57;
}

/* --------------------------- */

.gWhite {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

section .desti {
  width: 100%;

  margin: auto;
}
section .desti h3 {
  text-align: center;
  padding-top: 3rem;

  font-family: segoe ui light;
  font-size: 2rem;
  font-weight: 900;
  color: #2e2c2c;
}
section .desti p {
  color: #464343;
  font-family: segoe ui light;
  font-weight: 1000;

  text-align: center;
  font-size: 1rem;
}

.gWhite .overSection2 {
  margin-top: 50px;
  padding-left: 3rem;
}

.site2 {
  padding-bottom: 2rem;
}

.site2 a.pct2 {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: relative;
}
.site2 a.pct2:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
  background-color: #00000061;
}
.site2 a.pct2 .image2 {
  width: 100%;
  height: 100%;

  transition: 0.4s;
}
.site2 a.pct2:hover .image2 {
  transform: scale(1.2);
}
.site2 a.pct2:hover .text2 {
  bottom: 10%;
}
.site2 .text2 {
  position: absolute;
  width: 100%;
  bottom: 1%;

  z-index: 2;
  transition: 0.4s;
}

.site2 .text2 span {
  display: block;
  font-family: segoe ui light;
  font-weight: 1000;
  color: #ef6c57;
  text-align: center;
  font-size: 1.2rem;
}

.site2 .text2 p {
  font-family: segoe ui light;
  font-weight: 1000;
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (max-width: 992px) {
  .sec .right {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 576px) {
  .sec .right {
    padding: 0rem 0rem;
    height: 220px;
  }
  .sec .right p {
    font-size: 1rem;
  }
}
