.text-align {
  text-align: center;
}
.fontquicksand {
  font-family: "Quicksand", sans-serif;
  color: #000;
  font-weight: 400;
}
.p_recentblog {
  padding: 0 280px;
  line-height: 1.5;
  font-weight: 400;
  color: #595959;
  font-size: smaller;
}
@media (max-width: 800px) {
  .p_recentblog {
    padding: 0px;
  }
}
.imge_recentblog {
  background-image: url("../image/blog-3.jpg");
  z-index: auto;
  height: 550px;
  background-size: cover;
}
@media (max-width: 650px) {
  .imge_recentblog {
    height: 0px;
  }
}
.spanimg {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-image: url(../image/blog-1.jpg);
  background-size: cover;
  border: 4px solid #fff;
  top: 0px;
  left: 0px;
}

.content-recentblong {
  padding-left: 100px;
}
.content-recentblong span {
  font-size: 13px;
  color: #595959;
}
.none-decoration:hover {
  text-decoration: none;
}
/* 
.
.
.
.

.*/
.styleh2 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: 000;
  position: relative;
}
.img-user {
  background-image: url(/assets/image/person1.jpg);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.user {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}
.fontpoppin {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #595959;
}
.style_guestsay small {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #999;
}
.style_guestsay blockquote p {
  color: #000;
  line-height: 1.7;
}
/* 


*/
.f-tour-img {
  display: block;
  background-size: cover;
  height: 210px;
  position: relative;
  background-image: url("../image/tour-3.jpg");
  box-shadow: inset 0 -195px 142px -79px rgba(0, 0, 0, 0.49);
  /* chu y box-shadow */
}
.desc {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 20px;
}
.desc h3 {
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}
.desc p span {
  color: yellow;
}
.desc p small {
  color: white;
}
.contentmostpopular p {
  font-size: 14px;
  color: #595959;
}
.contentmostpopular h3 {
  text-transform: uppercase;
  font-size: 22px;
}
.contentmostpopular h4 {
  text-transform: uppercase;
  font-size: 19px;
}
.contentmostpopular ul li {
  list-style: none;
  margin-bottom: 10px;
}
.contentmostpopular ul li a {
  color: #999;
}
.contentmostpopular .btn-primary {
  background: #fd0;
  color: #fff;
  border: 1px solid #fd0;
  border-radius: 30px;
}
.contentmostpopular .btn-primary:hover {
  background: #fd0;
  color: #fff;
}
